<div ng-controller="HeaderController as ctrl" >


    <md-toolbar>

        <div class="md-toolbar-tools">
            <div ng-controller="productlistController as prdCtrl" flex="15" >
            <md-button  ng-click="prdCtrl.openSide()" class="md-fab md-mini" aria-label="Favorite">
                <md-icon md-svg-icon="/bower_components/material-design-icons/action/svg/design/ic_list_24px.svg"></md-icon>
            </md-button>

            <span>Giftzopedia</span>
            </div>
<div flex="60" flex layout-margin layout-fill >

    <form ng-submit="$event.preventDefault()">
        <md-content>
        <md-autocomplete
                ng-disabled="ctrl.isDisabled"
                md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem"
                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                md-search-text="ctrl.searchText"
                md-selected-item-change="ctrl.selectedItemChange(item)"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item.display"
                md-min-length="0"
                placeholder="What is your favorite US state?">
            <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
                No states matching "{{ctrl.searchText}}" were found.
                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
            </md-not-found>
        </md-autocomplete>
        </md-content>

    </form>
</div>

            <!-- fill up the space between left and right area -->

                <div flex="10">
 <md-button class="md-warn md-raised" ng-click="showAdvanced($event)">
        Login
    </md-button>
                </div>
                <div flex="10">
    <md-button class="md-warn md-raised" ng-click="showSignUp($event)">
        Sign-Up
    </md-button>
                </div>
            <div flex="10">
                <md-button class="md-warn md-raised" ng-click="showAdvanced($event)">
                   In Cart
                </md-button>
            </div>
        </div>

    </md-toolbar>

        </div>

<product-listnav></product-listnav>
</div>

