<html ng-app="giftzApp">
<title>Welcome to Giftszopedia</title>
<head>   </head>
<!--CSS Files to be load.-->
<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/bower_components/angular-material/angular-material.css">
<link rel="stylesheet" type="text/css" href="/views/common/css/imageSlider.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!-- files to be loaded.-->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-messages/angular-messages.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/views/core/index.js"></script>
<!--navbar Realted Js-->
<script src="/views/core/navbar/directive.navbar.ang.js"></script>
<script src="/views/core/navbar/controller.navbar.ang.js"></script>
<script src="/views/core/navbar/service.navbar.ang.js"></script>
<!--Login Page Related Js-->

<!--Registration Page Related Js-->
<script src="/views/core/userregistration/controller.userregistration.ang.js"></script>
<script src="/views/core/userregistration/directive.useregistration.js"></script>
<script src="/views/core/userregistration/service.userregistration.js"></script>
<!--Product List Controller Js-->
<script src="/views/core/productslist/productlist.controller.js"></script>
<script src="/views/core/productslist/productlist.directive.js"></script>
<script src="/views/core/productslist/productlist.service.js"></script>



<body layout="column">
<md-toolbar>
        <core-Navbar></core-Navbar>


<md-content>
    <br>
    <div layout="column" >
            <div flex="60">
                <md-content>
                <image-slider-comp></image-slider-comp>

                    <md-card>

                        <img style="width: auto; height: 50% " ng-src="/views/core/imageslider/4a18ffbe8c18edadb754af13d68b61d9 - Copy.jpg" class="md-card-image" alt="image caption">
                    </md-card>

                    <div>
                        <md-button class="md-raised md-slider-button-left"> Button </md-button>  <md-button class="md-raised md-slider-button-right"> Button </md-button>
                    </div>

                </md-content>
            </div>
            <div flex="40" >
                <div layout="row">
                    <div flex="20">
                        <md-content>
                        <image-slider-comp></image-slider-comp>

                            <md-card>
                                <img style="width: auto; height: 50% " ng-src="/views/core/imageslider/4a18ffbe8c18edadb754af13d68b61d9 - Copy.jpg" class="md-card-image" alt="image caption">
                            </md-card>
                        </md-content>
                    </div>
                    <div flex="20">
                        <md-content>
                        <image-slider-comp></image-slider-comp>

                            <md-card>
                                <img style="width: auto; height: 50% " ng-src="/views/core/imageslider/4a18ffbe8c18edadb754af13d68b61d9 - Copy.jpg" class="md-card-image" alt="image caption">
                            </md-card>
                        </md-content>
                    </div>
                    <div flex="20">
                        <md-content>
                        <image-slider-comp></image-slider-comp>

                            <md-card>
                                <img style="width: auto; height: 50% " ng-src="/views/core/imageslider/4a18ffbe8c18edadb754af13d68b61d9 - Copy.jpg" class="md-card-image" alt="image caption">
                            </md-card>
                        </md-content>
                    </div>
                    <div flex="20">
                        <md-content>
                        <image-slider-comp></image-slider-comp>

                            <md-card>
                                <img style="width: auto; height: 50% " ng-src="/views/core/imageslider/4a18ffbe8c18edadb754af13d68b61d9 - Copy.jpg" class="md-card-image" alt="image caption">
                            </md-card>
                        </md-content>
                    </div>
                    <div flex="20">
                        <image-slider-comp></image-slider-comp>
                        <md-content>
                            <md-card>
                                <img style="width: auto; height: 50% " ng-src="/views/core/imageslider/4a18ffbe8c18edadb754af13d68b61d9 - Copy.jpg" class="md-card-image" alt="image caption">
                            </md-card>
                        </md-content>
                    </div>
                </div>
            </div>
        <div flex="20" >
            <div layout="row">
                <div flex="20">
                    <md-content>
                        <image-slider-comp></image-slider-comp>

                        <md-card>
                            <img style="width: auto; height: 50% " ng-src="/views/core/imageslider/4a18ffbe8c18edadb754af13d68b61d9 - Copy.jpg" class="md-card-image" alt="image caption">
                        </md-card>
                    </md-content>
                </div>
                <div flex="20">
                    <md-content>
                        <image-slider-comp></image-slider-comp>

                        <md-card>
                            <img style="width: auto; height: 50% " ng-src="/views/core/imageslider/4a18ffbe8c18edadb754af13d68b61d9 - Copy.jpg" class="md-card-image" alt="image caption">
                        </md-card>
                    </md-content>
                </div>
                <div flex="20">
                    <md-content>
                        <image-slider-comp></image-slider-comp>

                        <md-card>
                            <img style="width: auto; height: 50% " ng-src="/views/core/imageslider/4a18ffbe8c18edadb754af13d68b61d9 - Copy.jpg" class="md-card-image" alt="image caption">
                        </md-card>
                    </md-content>
                </div>
                <div flex="20">
                    <md-content>
                        <image-slider-comp></image-slider-comp>

                        <md-card>
                            <img style="width: auto; height: 50% " ng-src="/views/core/imageslider/4a18ffbe8c18edadb754af13d68b61d9 - Copy.jpg" class="md-card-image" alt="image caption">
                        </md-card>
                    </md-content>
                </div>
                <div flex="20">
                    <image-slider-comp></image-slider-comp>
                    <md-content>
                        <md-card>
                            <img style="width: auto; height: 50% " ng-src="/views/core/imageslider/4a18ffbe8c18edadb754af13d68b61d9 - Copy.jpg" class="md-card-image" alt="image caption">
                        </md-card>
                    </md-content>
                </div>
            </div>
        </div>

    </div>
</md-content>

</md-toolbar>
</body>

</html>
